/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/* required styles */
/* line 3, ../../src/scss/_leaflet.scss */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-map-pane svg,
.leaflet-map-pane canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 17, ../../src/scss/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 21, ../../src/scss/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
}

/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
/* line 30, ../../src/scss/_leaflet.scss */
.leaflet-safari .leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
}

/* hack that prevents hw layers "stretching" when loading new tiles */
/* line 34, ../../src/scss/_leaflet.scss */
.leaflet-safari .leaflet-tile-container {
  width: 1600px;
  height: 1600px;
  -webkit-transform-origin: 0 0;
}

/* line 39, ../../src/scss/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 44, ../../src/scss/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 48, ../../src/scss/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 51, ../../src/scss/_leaflet.scss */
.leaflet-tile {
  -webkit-filter: inherit;
          filter: inherit;
  visibility: hidden;
}

/* line 55, ../../src/scss/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 58, ../../src/scss/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
  box-sizing: border-box;
  z-index: 8;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 66, ../../src/scss/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 70, ../../src/scss/_leaflet.scss */
.leaflet-pane {
  z-index: 4;
}

/* line 72, ../../src/scss/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 73, ../../src/scss/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 74, ../../src/scss/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 75, ../../src/scss/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 76, ../../src/scss/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 78, ../../src/scss/_leaflet.scss */
.leaflet-map-pane canvas {
  z-index: 1;
}

/* line 79, ../../src/scss/_leaflet.scss */
.leaflet-map-pane svg {
  z-index: 2;
}

/* line 81, ../../src/scss/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 85, ../../src/scss/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 94, ../../src/scss/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 99, ../../src/scss/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 105, ../../src/scss/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 108, ../../src/scss/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 111, ../../src/scss/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 114, ../../src/scss/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 117, ../../src/scss/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 121, ../../src/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 124, ../../src/scss/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 127, ../../src/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 130, ../../src/scss/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 133, ../../src/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 140, ../../src/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  transition: opacity 0.2s linear;
}

/* line 148, ../../src/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 153, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 159, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  transition: none;
}

/* line 167, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 174, ../../src/scss/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 177, ../../src/scss/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
}

/* line 181, ../../src/scss/_leaflet.scss */
.leaflet-crosshair,
.leaflet-crosshair .leaflet-clickable {
  cursor: crosshair;
}

/* line 185, ../../src/scss/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 189, ../../src/scss/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
}

/* visual tweaks */
/* line 199, ../../src/scss/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 203, ../../src/scss/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 206, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 209, ../../src/scss/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 216, ../../src/scss/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 223, ../../src/scss/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 227, ../../src/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 239, ../../src/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 245, ../../src/scss/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 248, ../../src/scss/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 252, ../../src/scss/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 257, ../../src/scss/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 263, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 272, ../../src/scss/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 277, ../../src/scss/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 281, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 284, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 291, ../../src/scss/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 296, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 301, ../../src/scss/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 305, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 309, ../../src/scss/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 313, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 317, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 322, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 327, ../../src/scss/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 330, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 339, ../../src/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 344, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 349, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 352, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 355, ../../src/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 359, ../../src/scss/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 362, ../../src/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 365, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 379, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 384, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 388, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 393, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 402, ../../src/scss/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 406, ../../src/scss/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 411, ../../src/scss/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 415, ../../src/scss/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 418, ../../src/scss/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 425, ../../src/scss/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 438, ../../src/scss/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 444, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 458, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 461, ../../src/scss/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 467, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 470, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 477, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 481, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 491, ../../src/scss/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/*
	Photo Map
*/
/* line 8, ../../src/scss/useful-photomap.scss */
.photomap {
  display: block;
  height: 400px;
  margin: 0;
  padding: 0;
  width: 100%;
}
