/*
	Reference Styling for an Open Street Map Implementation
*/
@media all {
  /*
  	Photo Map
  */
  /* line 10, ../../src/scss/useful-photomap.scss */
  .photomap {
    display: block;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 16, ../../src/scss/useful-photomap.scss */
  .photomap .olControlAttribution {
    bottom: 0.5em;
  }
}
