/*
	Buttons
*/

@media all {

	@import "compass/css3";
	@import "compass/utilities";

	button, .button {
		@include transition-property(background-color);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease);
		@include rem('height', 3);
		@include rem('line-height', 3);
		@include rems('padding', 0, 1, 0, 1);
		background-color : $color-passive;
		border : none;
		color : #fff;
		cursor : pointer;
		display : inline-block;
		margin : 0;
		overflow : visible;
		text-decoration : none;
		&:hover {
			background-color : $color-hover;
			color : #fff;
			text-decoration : none;
		}
		&.disabled, &.disabled:hover {
			background-color : $color-disabled;
		}
	}

}

@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
