/*
	Definitions
*/

$color-background : #ffffff;
$color-text : #1e1e1e;
$color-passive : #ff6a00;
$color-active : #d45800;
$color-hover : #ff9800;
$color-disabled : #7f7f7f;
$iconSize : 64px;

@mixin iconParent ($size:32) {
	overflow : hidden;
	position : relative;
	text-align : left;
	text-indent : ($size + 10) + px;
	white-space : nowrap;
	/* Because of Internet Explorer 8 we can't have nice thing. */
	overflow : visible\9;
	text-indent : -999em\9;
}

@mixin iconCenter ($size:32) {
	content : '';
	display : block;
	height : $size + px;
	position : absolute;
	left : 50%;
	margin-left : ($size / -2) + px;
	margin-top : ($size / -2) + px;
	top : 50%;
	width : $size + px;
}

@mixin rem ($name:'', $value:'') {
	#{$name} : (16 * $value) + px;
	#{$name} : $value + rem;
}

@mixin rems ($name:'', $top:'', $right:'', $bottom:'', $left:'') {
	@if $top != '' {
		#{$name}-top : (16 * $top) + px;
		#{$name}-top : $top + rem;
	}
	@if $right != '' {
		#{$name}-right : (16 * $right) + px;
		#{$name}-right : $right + rem;
	}
	@if $bottom != '' {
		#{$name}-bottom : (16 * $bottom) + px;
		#{$name}-bottom : $bottom + rem;
	}
	@if $left != '' {
		#{$name}-left : (16 * $left) + px;
		#{$name}-left : $left + rem;
	}
}

@mixin text ($size) {
	@if $size == s {
		font-size : 14px;
		font-size : 1.571rem;
	} @else if $size == m {
		font-size : 16px;
		font-size : 1rem;
	} @else if $size == l {
		font-size : 20px;
		font-size : 1.25rem;
	} @else if $size == xl {
		font-size : 26px;
		font-size : 1.625rem;
	} @else if $size == xxl {
		font-size : 30px;
		font-size : 1.875rem;
	} @else {
		font-size : (16 * $size) + 'px';
		font-size : $size + 'rem';
	}
}
