$color-background : #ffffff;
$color-text : #1e1e1e;
$color-passive : #ff6a00;
$color-active : #d45800;
$color-hover : #ff9800;
$color-disabled : #7f7f7f;
$color-highlight : #eeeeee;
$remSize : 12;

@mixin obfuscate ($distance:100, $unit:px) {
	overflow : hidden;
	text-align : left;
	text-indent : ($distance + 10) + $unit;
	white-space : nowrap;
}

@mixin iconParent ($size:32, $unit:px) {
	overflow : hidden;
	position : relative;
	text-align : left;
	text-indent : ($size + 10) + $unit;
	white-space : nowrap;
}

@mixin iconCenter ($size:32, $unit:px, $char:'') {
	content : $char;
	display : block;
	@if $char != '' {
		font-family : FontAwesome;
		font-size : $size + $unit;
		line-height : $size + $unit;
		text-indent : 0;
		text-align : center;
	}
	@if $char == '' {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	height : $size + $unit;
	width : $size + $unit;
	position : absolute;
	left : 50%;
	top : 50%;
	transform: translate(-50%, -50%);
}

@mixin clearfix () {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
