/*
	Typography
*/
@media all {
	/*
		The root element
	*/
	html {
		font-family : Tahoma, Verdana, Arial, Sans-Serif;
		font-size : 75%;
		height : 100%;
	}
	/*
		Sections
	*/
	body {
		@include text('m');
		@include rems('margin', 0, 0, 0, 0);
		@include rems('padding', 0, 0, 0, 0);
		@include rem('line-height', 1.8);
		background : #eee;
		color : #333;
		_height : 100%;
		min-height : 100%;
	}
	h1, h2, h3, h4, h5, h6 {
		@include text('m');
		@include rems('margin', 0, 0, 0.5, 0);
		display : block;
		font-weight : normal;
	}
	h1 {
		@include text('xxl');
	}
	h2 {
		@include text('xl');
	}
	h3 {
		@include text('l');
	}
	address {
		display : block;
		font-style : normal;
	}
	section, nav, article, aside, hgroup,	header,	footer {
		display : block;
	}
	/*
		Grouping content
	*/
	p {
		@include text('m');
		display : block;
	}
	hr {
		@include rems('margin', 1, 0, 1, 0);
		background-color : #333;
		border : none;
		clear : both;
		color : #333;
		display : block;
		height : 1px;
		width : 100%;
	}
	ul {
		@include rems('margin', 0, 0, 1, 2);
		@include rems('padding', 0, 0, 0, 0);
		display : block;
	}
	li {}
	dl {
		@include rems('margin', 0, 0, 1, 0);
		display : block;
	}
	dt {
		@include rems('margin', 0, 0, 0, 0);
		display : block;
		font-weight : bold;
	}
	dd {
		@include rems('margin', 0, 0, 0, 0);
		display : block;
	}
	pre, dialog, blockquote, ol {
		display : block;
	}
	/*
		Text-level semantics
	*/
	a {
		color : $color-passive;
		text-decoration : underline;
	}
	a:hover {
		color : $color-hover;
		text-decoration : underline;
	}
	sub {
		line-height : 0;
	}
	sup {
		line-height : 0;
	}
	time, progress, meter {
		display : block;
	}
	/*
		Embedded content
	*/
	img {
		border : none;
		vertical-align : middle;
	}
	figure, figcaption, video, audio, canvas {
		display : block;
	}
	/* Tabular data */
	table {
		@include rems('margin', 0, 0, 1, 0);
		border-collapse : collapse;
	}
	caption {
		@include text('l');
		font-weight : bold;
		text-align : left;
	}
	thead, tbody, tfoot {}
	tr {
		vertical-align : top;
		&:nth-child(2n) { background-color : $color-highlight; }
	}
	th, td {
		@include rems('padding', 0.5, 1, 0.5, 1);
	}
	th, th a, th a:hover {
		background-color : $color-hover;
		color : #fff;
		font-weight : normal;
		white-space : nowrap;
		text-align : left;
		text-decoration : none;
	}
	/*
		Forms
	*/
	form {
		@include rems('margin', 0, 0, 0, 0);
	}
	fieldset {
		@include rems('margin', 0, 0, 1, 0);
		@include rems('padding', 0, 0, 0, 0);
		display : block;
		border : none;
	}
	legend {
		@include rems('margin', 0, 0, 0.5, 0);
		display : block;
		font-weight : bold;
	}
	label {}
	input, button, select, textarea {
		@include text('m');
		font-family : Tahoma, Verdana, Arial, Sans-Serif;
		vertical-align : baseline;
	}
	input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=password], input[type=email], select, textarea {
		@include box-shadow(inset 0 0 5px #ccc);
		@include rem('height', 3);
		@include rem('font-size', 1);
		@include rem('padding', 0.7);
		@include rems('margin', 0.7, 0, 0.7, 0);
		background : #fff;
		border : solid 1px #333;
		font-family : Arial, Sans-Serif;
	}
	input[type=checkbox], input[type=radio] {
		@include rems('margin', 0.7, 0.3, 0.7, 0);
	}
	select {
		@include rem('height', 3);
		@include rem('padding', 0.7);
	}
	textarea {
		@include rem('height', 10);
		@include rem('padding', 0.7);
	}
	button, .button {
		@include transition-property(background-color);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease);
		@include rem('height', 3);
		@include rem('line-height', 3);
		@include rems('margin', 0, 0, 0, 0);
		@include rems('padding', 0, 1, 0, 1);
		background-color : $color-passive;
		border : none;
		color : #fff;
		cursor : pointer;
		display : inline-block;
		overflow : visible;
		text-decoration : none;
		&:hover {
			background-color : $color-hover;
			color : #fff;
			text-decoration : none;
		}
		&.disabled, &.disabled:hover {
			background-color : $color-disabled;
		}
	}
	/*
		Interactive elements
	*/
	menu {
		@include rems('margin', 0, 0, 0, 0);
		@include rems('padding', 0, 0, 0, 0);
		display : block;
	}
	/*
		Miscellaneous elements
	*/
	div {
		display : block;
	}
}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {
	html {
		font-size : 62.5%;
	}
}
@media print {}
