@import "compass/css3";
@import "compass/utilities";
@import "mixins";
@import "leaflet";
/*
	Photo Map
*/
.photomap {
	display : block;
	height : 400px;
	margin : 0;
	padding : 0;
	width : 100%;
}
